* {
    box-sizing: border-box;
    outline: 0;
    padding: 0;
    margin: 0;
    --white: #EEF1E1;
    --logoColor: #6bA643;
    --offGreen: #86A38C;
    --lightGrey: #757769;
    --darkGrey: #272A2C;
}

body {
    background: var(--white);
    color: var(--darkGrey);
} 

/*header CSS*/
header {
    display: flex;
    flex-direction: row;
    padding: 1em 0;
    background: var(--white);
    color: var(--logoColor);
}

/*Placeholder Art Frog logo*/
#artFrogLogo {
    height: 30px;
    width: 30px;
    background: grey;
    margin: 0 1em;
}

.heading1 {
    font-family: 'HankenBook', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
}

nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    margin: 0em 1em 1em;
}
ul {
    display: flex;
    flex-direction: row;
    margin: 0.5em 1em 1em;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 0 1em;
}
/*___________________________________________________________*/

/* font Awesome Icons*/
.fas {
    color: var(--darkGrey);
        font-size: 1.5rem;
}

.fas:hover {
    color: var(--logoColor);
}

.fab {
    color: var(--darkGrey);
        font-size: 1.5rem;
}

.fab:hover {
    color: var(--logoColor);
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
/*___________________________________________________________*/

/*article CSS*/

.image {
    height: 100%;
    width: 100%;   
}

.content-container {
    font-family: 'HankenBook', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    padding: 1em 0;
    background: var(--offGreen);
    color:var(--white);
}

h2 {
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

p {
    padding: 0.5em;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    color:var(--darkGrey);
}

button {
    background: var(--lightGrey);
    border:var(--white) solid 1px;
    border-radius: 15px;
    color: var(--white);
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    padding: 1em;
    font-family: 'HankenBook', Arial, Helvetica, sans-serif;
    font-size: 1.25em;
}

button:hover {
    background: var(--logoColor);
    color: var(--darkGrey);
    border: var(--darkGrey) solid 1px;
    text-shadow: none;
}
/*___________________________________________________________*/

/* Footer CSS*/
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em 0;
    background: var(--white);
    color: var(--logoColor);
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

footer ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    margin: 1.35em 1em 1em;
    color: var(--darkGrey);
    
}

footer li {
    margin: 0;
    padding: 10px 0;
    list-style: none;
    margin: 0 1em;
    font-family: 'HankenBook', Arial, Helvetica, sans-serif;
}

.footerLinks {
    color: var(--darkGrey);
        font-size: 1rem;
}

.footerLinks:hover {
    color: var(--logoColor);
}