<footer>
  <!-- Social Media Links -->
  <ul id="socialMediaLinks">
    <li>
      <a href="https://www.facebook.com/ArtFrogArtAcademy/" target="_blank">
        <i
          aria-hidden="true"
          class="fab fa-facebook"
          title="Link to ArtFrog's Facebook"
        ></i
        ><span class="sr-only">Link to ArtFrog's Facebook Page</span>
      </a>
    </li>
  </ul>

  <!-- Contact Info -->
  <ul id="addressInfo">
    <li>ArtFrog Art Academy, 301 Main St, #200</li>
    <li>Marble Falls, Tx 78611</li>
  </ul>

  <!-- Contact Us and Site Map Links -->

  <div id="footerLinksContainer">
    <ul id="footerLinks">
      <li><a class="footerLinks" href="/contact" target= "_blank">Contact Us</a></li>
      <li><a class="footerLinks" href="/sitemap.html">Site Map</a></li>
    </ul>
  </div>
</footer>
