<header>
  <div class="svgContainer">
    <img src="../img/v2_web/ArtFrogLogo-02.svg" alt="ArtFrog Logo" />
  </div>
  <nav class="navigation" id="navigation" aria-label="Main Navigation Menu">

    <!-- Desktop Menu Bar -->
    <ul id="menuDesktop" >
      <li><a href="/">Home</a></li>
      <li><a href="/classes">Classes</a></li>
      <li><a href="/teachers">Teachers</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/community">Community Arts</a></li>
      <!-- <li><a href="/volunteer">Volunteer</a></li>
      <li><a href="/donate">Donate</a></li> -->
    </ul>
  </nav>
</header>
