[hidden] {
  display: none;
}

body {
  overflow: hidden;
  font-family: sans-serif;
}

@media (max-width: 1024px) {
  .navigation button {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0;
    height: 32px;
    width: 32px;
    background: none;
    /* Change to Logo Color */
    color: #6bA643;
    font-size: 0rem;
    padding: 0;
    transition: 0.2s 0.2s color ease-in-out;
  }

  .navigation button svg {
    display: block;
    pointer-events: none;
    stroke: currentcolor;
    vertical-align: middle;
    height: 32px;
    width: 32px;
    transition: 0.2s 0.5s stroke ease-in-out;
  }

  .navigation button::before {  
    content: " ";
    position: absolute;
    border-radius: 200vh;
    opacity: 0;
    left: calc(-130vmax + 50%);
    top: calc(-130vmax + 50%);
    width: 260vmax;
    height: 260vmax;
    /* Change to logo color */
    background: #6bA643;
    display: block;
    z-index: -1;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transition: 0.5s ease-in-out transform, 0.2s 0.4s ease-in-out opacity;
  }

  .navigation button[aria\-expanded="true"] {
    color: #fff;
  }

  .navigation button[aria\-expanded="true"]::before {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transition: 0.5s ease-in-out transform, 0.1s ease-in-out opacity;
  }

  #menu {
    pointer-events: none;
    list-style: none;
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 5em;
    padding: 0;
  }

  #menu a {
    text-decoration: none;
    font-weight: bold;
    /* Change to Text Color (Whiteish) */
    color: #fff;
    opacity: 0;
    display: block;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    transition: 0.2s 0.5s ease-out opacity;
  } 

  #menu:not([hidden]) {
    pointer-events: all;
  }

  #menu:not([hidden]) a {
    opacity: 1;
  }
}
@media (min-width: 1025px) {
  .navigation button {
    display: none;
  }

  #menu {
    width: auto;
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
  }

  #menu li {
    padding: 1rem;
  }

  #menu li a {
    pointer-events: all;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    font-weight: normal;
    color: #2dac33;
    text-decoration: none;
    background: linear-gradient(
      rgba(90, 181, 16, 0.15),
      rgba(152, 207, 154, 0.15)
    );
    background-size: 0 100%;
    background-repeat: no-repeat;

    padding: 4px;
    margin: -4px;
    border-radius: 2em;
    transition: background 0.25s ease-out;
  }

  #menu li a:hover,
  #menu li a:focus {
    background-size: 100% 100%;
  }
}
