<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../CSS/indexStyle.css" />
    <link rel="stylesheet" href="../CSS/indexStyle_Desktop.css" />
    <link rel="stylesheet" href="../CSS/communityStyle.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org/face/hanken"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap"
      rel="stylesheet"
    />
    <title>ArtFrog Classes</title>
  </head>

  <body>
    <!-- Skip Link -->
    <a href="#main-content" id = "skipLink" aria-label = 'skip navigation link' class="visible-hidden visible-hidden:focus">Skip Navigation</a>
    <!-- Header ArtFrog logo and main navigation links here -->
    <% include ./partials/headers.ejs %>

    <main id="main-content">
      <!-- Hero Image for Art Frog Home Page     -->
      <section id="heroArt" aria-labelledby="ArtFrogMission">
        <div class="imageContainer">
          <picture>
            <source
              media="(max-width: 600px)"
              srcset="..//img/v2_web/Mobile/mobile-4.jpg"
            />
            <img
              id="heroImg"
              class="image"
              src="../img/v2_web/Desktop/desktop-4.jpg"
              alt="A group of adults and chilren gather around a garden planter that has been adorned with their small fairy houses made out of twigs, rocks and a little bling."
            />
          </picture>
        </div>

        <div class="content-container">
          <h2 id="ArtFrogMission">Current Community Projects</h2>
          <p>
            ArtFrog Art Academy is a community focused organization. We
            regularly create and participate in community building projects and
            events.

            Below is a list of some of our past community
            projects and events.
          </p>
        </div>
      </section>

      <!-- Create a section to contain the list of community projects offerings -->

      <section id="pastEventSection">
      <!-- Sound of Austin Info     -->
        <div class="pastEvent">
            <img src="../img/v2_web/Desktop/01_soundOfAustin.png" alt="Drawing of Sound of Austin Logo. The logo is a hand drawn microphone with a music note.">
          <div class="pastEventTextContent">
            <h2>Sound of Austin</h2>
            <p>"Sound Of Austin, TX" is a public art project and 5G/IoT SMART CITIES use case to collect, sort & broadcast daily the MOST UNIQUE Sound of Austin, TX" found in Austin's 250 live music venues and on street corners. Our goal is to amplify Austin's identity as "The Live Music Capital of the World" and UNESCO dedicated "Media Art City", all while enhancing sustainability of the city itself and fostering civic engagement & livability of its inhabitants.</p>
          </div>
        </div>

         <!-- Garden Mural Painting Info -->
         <div class="pastEvent">
            <img src="../img/v2_web/Desktop/02_gardenMural.jpg" alt="Children painting a mural of flowers on an outdoor garden wall.">
          <div class="pastEventTextContent">
            <h2>Garden Mural Paining</h2>
            <p>This project was a cooperation among adult painting students, the homeschooler art group and the Marble Falls Master Gardeners.  These kids had a very fun time helping beautify a wall with a garden-themed mural at the Mastergardner’s Garden in Marble Falls, TX. circa 2014-15</p>
          </div>
        </div>

        <!-- Fire Hydrant Painting Info -->
        <div class="pastEvent">
            <img src="../img/v2_web/Desktop/03_fireHydrant.jpg" alt="Woman Painting a Fire Hydrant like a Watermelon">
          <div class="pastEventTextContent">
            <h2>Community Fire Hydrant Paining</h2>
            <p>This is our oldest painting student finishing her design “Watermelon” on a fire hydrant   in Marble Falls, Texas. ArtFrog students of all ages and abilities participted in        
              painting 10 firehydrants in the area.  This community art project was a collaboration between the City of Marble Falls and ArtFrog Art Academy.</p>
          </div>
        </div>

        <!-- Fire Hydrant Painting Info -->
        <div class="pastEvent">
            <img src="../img/v2_web/Desktop/04_Fairy_House.jpg" alt="A group of adults and chilren gather around a garden planter that has been adorned with their small handmade fairy houses.">
          <div class="pastEventTextContent">
            <h2>Fairy House Building Event</h2>
            <p>The Assisted Living Group in Burnet created their own “Fairyville” garden with individual fairy houses made out of twigs, rocks and a little bling. Their vegetable garden now catches everyone’s eyes and gives the residence and visitors an outdoor installation to enjoy. 
            </p>
          </div>
        </div>

      </section>
      <!-- _________________________________________________________-->
    </main>
    <% include ./partials/footers.ejs %>
    <script src="../javaScript/nav.js"></script>
    <!-- <script src="../javaScript/community.js"></script> -->
  </body>
</html>
