<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../CSS/indexStyle.css" />
    <link rel="stylesheet" href="../CSS/indexStyle_Desktop.css" />
    <link rel="stylesheet" href="../CSS/communityStyle.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org/face/hanken"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap"
      rel="stylesheet"
    />
    <title>ArtFrog Classes</title>
  </head>

  <body>
    <!-- Skip Link -->
    <a
      href="#main-content"
      id="skipLink"
      class="visually-hidden visible-when-focused bypass-block-link"
      aria-label="Skip Navigation Link"
      >Skip Navigation</a
    >
    <!-- Header ArtFrog logo and main navigation links here -->
    <% include ./partials/headers.ejs %>

    <main>
      <!-- Hero Image for Art Frog Home Page     -->
      <section id="heroArt" aria-labelledby="ArtFrogMission">
        <div class="imageContainer">
          <picture>
            <source
              media="(max-width: 600px)"
              srcset="..//img/v2_web/Mobile/mobile-4.jpg"
            />
            <img
              id="heroImg"
              class="image"
              src="../img/v2_web/Desktop/desktop-4.jpg"
              alt="ArtFrog Hero Image"
            />
          </picture>
        </div>

        <div class="content-container">
          <h2 id="ArtFrogMission">Current Community Projects</h2>
          <p>
            ArtFrog Art Academy is a community focused organization. We
            regularly create and participate in community building projects and
            events.
            <br /><br />
            Below is a list of some of our past community
            projects and events.
          </p>
        </div>
      </section>

      <!-- Create a section to contain the list of community projects offerings -->

      <section id="pastEventSection">
      <!-- Sound of Austin Info     -->
        <div class="pastEvent">
            <img src="../img/v2_web/Desktop/01_soundOfAustin.png" alt="Drawing of Sound of Austin Logo">
          <div class="pastEventTextContent">
            <h2>Sound of Austin</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, alias quis at velit doloremque blanditiis. Saepe consectetur, ad officia nesciunt dignissimos et laudantium ex ipsa hic aliquid, inventore mollitia! Fugiat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente amet eum et, illo dolores itaque quasi odio aperiam reprehenderit eveniet soluta necessitatibus magni iste ipsam in magnam nulla enim commodi.</p>
          </div>
        </div>

         <!-- Garden Mural Painting Info -->
         <div class="pastEvent">
            <img src="../img/v2_web/Desktop/02_gardenMural.jpg" alt="Children Painting a mural on an outdoor garden wall">
          <div class="pastEventTextContent">
            <h2>Garden Mural Paining</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, alias quis at velit doloremque blanditiis. Saepe consectetur, ad officia nesciunt dignissimos et laudantium ex ipsa hic aliquid, inventore mollitia! Fugiat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente amet eum et, illo dolores itaque quasi odio aperiam reprehenderit eveniet soluta necessitatibus magni iste ipsam in magnam nulla enim commodi.</p>
          </div>
        </div>

        <!-- Fire Hydrant Painting Info -->
        <div class="pastEvent">
            <img src="../img/v2_web/Desktop/03_fireHydrant.jpg" alt="Woman Painting a Fire Hydrant like a Watermelon">
          <div class="pastEventTextContent">
            <h2>Community Fire Hydrant Paining</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, alias quis at velit doloremque blanditiis. Saepe consectetur, ad officia nesciunt dignissimos et laudantium ex ipsa hic aliquid, inventore mollitia! Fugiat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente amet eum et, illo dolores itaque quasi odio aperiam reprehenderit eveniet soluta necessitatibus magni iste ipsam in magnam nulla enim commodi.</p>
          </div>
        </div>

        <!-- Fire Hydrant Painting Info -->
        <div class="pastEvent">
            <img src="../img/v2_web/Desktop/04_Fairy_House.jpg" alt="Group picture in a garden with fairy houses in a raised flower bed">
          <div class="pastEventTextContent">
            <h2>Fairy House Building Event</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, alias quis at velit doloremque blanditiis. Saepe consectetur, ad officia nesciunt dignissimos et laudantium ex ipsa hic aliquid, inventore mollitia! Fugiat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente amet eum et, illo dolores itaque quasi odio aperiam reprehenderit eveniet soluta necessitatibus magni iste ipsam in magnam nulla enim commodi.</p>
          </div>
        </div>

      </section>
      <!-- _________________________________________________________-->
    </main>
    <% include ./partials/footers.ejs %>
    <script src="../javaScript/nav.js"></script>
    <!-- <script src="../javaScript/community.js"></script> -->
  </body>
</html>
