<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./CSS/indexStyle.css" />
    <link rel="stylesheet" href="./CSS/indexStyle_Desktop.css" />
    
    
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org/face/hanken"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap"
      rel="stylesheet"
    />
    <title>ArtFrog Home</title>
  </head>

  <body>
    <!-- Skip Link -->
    <a href="#main-content" id = "skipLink" aria-label = 'skip navigation link' class="visible-hidden visible-hidden:focus">Skip Navigation</a>
    
    <!-- Header ArtFrog logo and main navigation links here -->

    <% include ./partials/headers.ejs %>

    <main id="main-content" class="bypass-block-target">
      <!-- Hero Image for Art Frog Home Page     -->
      <section id="heroArt" aria-labelledby="missionStatement">
        <div class="imageContainer">
          <picture>
            <source
              media="(max-width: 600px)"
              srcset="./img/v2_web/Mobile/mobile-1.jpg"
            />
            <img
              id="heroImg"
              class="image"
              src="./img/v2_web/Desktop/desktop-1.jpg"
              alt="A man uses watercolors to paint a nature scene of a field and trees."
            />
          </picture>
        </div>

        <div class="content-container">
          <h1 id ="missionStatement">ArtFrog's Mission</h1>
          <p>
            ArtFrog Art Academy is a 501c3 NonProfit organization dedicated to
            promoting cultural education through arts and crafts centered
            programs, events and activities. The Academy is a cost-free learning
            center that educates children, young and older adults of all
            abilities in the areas of fine arts and crafts. We serve the rural
            central Texas from the heart of Burnet County.
          </p>
        </div>
      </section>

      <!-- Classes Section  -->
      <section id="classesArt" aria-labelledby="classesSection">
       
        <div class="imageContainer">
          <picture>
            <source
              media="(max-width: 600px)"
              srcset="./img/v2_web/Mobile/mobile-2.jpg"
            />
            <img
              id="classImg"
              class="image"
              src="./img/v2_web/Desktop/desktop-2.jpg"
              alt="Hands shape clay into a small bowl on a pottery wheel."
            />
          </picture>
        </div>

        <div class="content-container">
          <h1 id="classesSection"><a href="/classes">Classes</a></h1>
          <p>
            Arts education programs (classes, workshops and camps) for students
            of all ages and abilities. ArtFrog Art Academy courses are designed
            to fit the needs of each student, from Beginner to Experienced.
          </p>
        </div>
      </section>

      <!-- Teachers Section  -->
      
      <section id="teacherArt" aria-label="teacherSection">
        
        <div class="imageContainer">
          <picture>
            <source
              media="(max-width: 600px)"
              srcset="./img/v2_web/Mobile/mobile-3.jpg"
            />
            <img
              id="teacherImg"
              class="image"
              src="./img/v2_web/Desktop/desktop-3.jpg"
              alt="Senior Woman Painting Wall Mural"
            />
          </picture>
        </div>

        <div class="content-container">
          <h1 id='teacherSection'><a href="/teachers">Teachers</a></h1>
          <p>
            All of our current teachers and instructors are volunteers from the
            community. We are always looking for new volunteers who would be
            interested in teaching at ArtFrog Art Academy.
          </p>
        </div>
      </section>
    
      <!-- Community Art Projects Section  -->
      <section id="communityArt" aria-labelledby="communitySection">
      
        <div class="imageContainer">
          <picture>
            <source
              media="(max-width: 600px)"
              srcset="./img/v2_web/Mobile/mobile-4.jpg"
            />
            <img
              id="communityImg"
              class="image"
              src="./img/v2_web/Desktop/Desktop-4.jpg"
              alt="Group of people of various ages in an Outdoor Garden"
            />
          </picture>
        </div>

        <div class="content-container">
          <h1 id='communitySection'><a href = "/community" aria-label='community art page link'>Community Art Projects</a></h1>
          <p>
            Mural painting, fire hydrant painting project, creating team-work
            mosaics or large-scale outdoor installations and interventions to
            create awareness for the arts and engage a larger audience to
            participate.
          </p>
        </div>
      </section>

      <!-- Volunteering Section  -->
      <section id="volunteerArt" aria-labelledby="volunteerSection">
        <div class="content-container">
          <h1 id='volunteerSection'>Volunteering</h1>
          <p>
            Volunteer and Internship opportunities for high school or college
            students and/or the general art-loving public. Join the FROGS and
            discover great ways to support and assist: office help, research,
            class preparation, gallery events, teaching, fundraising.
          </p>
        </div>
          <button type="button" id="volunteerButton" onclick="window.location.href = '/volunteer';">
            Volunteer at ArtFrog
          </button>
       
      </section>

      <!-- Donations Section  -->
      <section id="donateArt" aria-labelledby= "donationSection">
        <div class="content-container">
          <h1 id= 'donationSection'>Donations</h1>
          <p>
            All classes, workshops, camps and events are always FREE of
            charge!
            We welcome donations and the idea of "paying it forward".
          </p>
        </div>
        <button type="button" id="donationButton" onclick="window.location.href = '/donate.html';">Donate to ArtFrog</button>
      </section>
    </main>
    <% include ./partials/footers.ejs %>
    <!-- <script src="./javaScript/nav.js"></script> -->
  </body>
</html>
