<% include ./partials/headers.ejs %>

<main>
    <!-- Hero Image for Art Frog Home Page     -->
<section id = "heroArt" aria-labelledby="ArtFrogMission">
    <div class = "imageContainer">
        <picture>
            <source media = "(max-width: 600px)" srcset = "..//img/v2_web/Mobile/mobile-3.jpg">
            <img id = "heroImg" class = "image" src="../img/v2_web/Desktop/desktop-3.jpg" alt="ArtFrog Hero Image">
        </picture>
    </div>
    
    <div class = "content-container">
    
        <h2 id='ArtFrogMission'>Current ArtFrog Teachers and Instructors</h2>
        <p>
            Below is a list of our current volunteers teachers and instructors.
    
        </p>
    </div>
</section>

<!-- Create a section to contain the list of course offerings (EJS Dynamic Data goes inside the section here-->

<section id="currentTeachers">
    <% for(var i=0; i < teachers.length; i++) { %>
        <div class="teacherContainer">
            <h2>Teacher Name: <%= teachers[i].first_name %> <%= teachers[i].last_name %> </h2>
            <div><p> Teacher Biography: <%= teachers[i].bio %> </p></div>
        </div>
        <% } %>
</section>
<!-- _<________________________________________________________-->
</main>

<% include ./partials/footers.ejs %>
</html>