<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../public/CSS/volunteerStyle.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org/face/hanken"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap"
      rel="stylesheet"
    />
    <title>Volunteer</title>
  </head>
  <body>
    <!-- Copy and paste Header -->

    <main class="container">

        <h1 id="volunteerForm">Volunteer Page</h1>
        <p class="instructions">Thank you for your interest in volunteering with ArtFrog. Please fill out this form so we can get to know you a little better. We'll have a look at your submission and be we'll be in touch soon.</p>


      <form method="POST" id="form" class="formStyle" novalidate>
        <fieldset class="fSet">
          <legend class="legendTitle">Introduce Yourself</legend>

          <p>* = Required</p>

          <div class="fieldWrap">
            <label for="firstName">* First Name:</label>
            <input
              id="firstName"
              class="validate"
              type="text"
              name="firstName"
              aria-required="true"
              autocomplete="given-name"
              data-error="First Name"
              data-iname="first_name"
              data-number="0"
            />
          </div>

          <div class="fieldWrap">
            <label for="lastName">* Last Name:</label>
            <input
              id="lastName"
              class="validate"
              type="text"
              name="lastName"
              aria-required="true"
              autocomplete="family-name"
              data-error="Last Name"
              data-iname="last_name"
              data-number="1"
            />
          </div>
     
          <div class="fieldWrap">
            <label for="phone">* Phone: (###)###-####</label>
            <input
              id="phone"
              class="validate phone"
              type="text"
              name="phone"
              data-error="Phone"
              aria-required="true"
              autocomplete="tel"
              data-iname="phone"
              data-number="5"
            />
          </div>

          <div class="fieldWrap">
            <label for="email">* Email: </label>
            <input
              type="email"
              name="email"
              id="email"
              class="validate"
              aria-required="true"
              autocomplete="email"
              data-error="Email"
              data-iname="email"
              data-number="6"
            />
          </div>

        <div>
          <label for="interested">* How are you interested in helping?:</label><br>
          <textarea 
            rows="8"
            id="interested" 
            aria-required="true"
            name="interest"
            data-number="7"
            data-error="Interest Message"
          ></textarea>
        </div>

         <div>
          <label for="experience">* Tell us about your volunteer experience:</label><br>
          <textarea 
            rows="8"
            id="experience" 
            aria-required="true"
            name="experience"
            data-number="8"
            data-error="Experience Message"
          ></textarea>
        </div>

        <div class="buttonDiv">
          <button type="submit" form="form" value="Submit">Submit</button>
        </div>
      </form>
    </main>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../public/javaScript/forms/volunteer.js"></script>
  </body>
</html>