#currentCourses {
    width: 100%;
    grid-column: 1/7;
    grid-row: 2/3;
}

#currentCourses section {
    border: 1px solid black;
    text-align: right;
    padding: 2em;
}

section ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    margin-bottom: .5em;
}

section ul li {
    margin: auto 1em auto 1em;
}

section button {
    width: auto;
    font-size: 1rem;
}

@media (max-width: 1024px){
    

    section ul {
        display: block;
        text-align: left;
    }

    section ul li {
        margin: 1em .25em;
    }
}