/* Global */
body {
  width: 100%;
}

li {
  list-style: none;
  margin-bottom: 10px;
}

main {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 1200px;
}

main h1 {
  font-family: "Roboto", sans-serif;
  margin-top: 1em;
}

.instructions {
  font-family: "Monserrat", sans-serif;
  color: black;
}

.form-container {
  max-width: 1200px;
}

.errorText {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  color: #c00000;
}

.errorBox {
  border: 2px solid #c00000;
}

/* Info Section */
.pageInfo {
  border: 1px solid #c00000;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

/* Contact Form */
#form {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 1200px;
}

.legendTitle {
  border: black solid 1px;
  padding: 0.25em;
  background: #367436;
  color: white;
}

.fSet {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  max-width: 1200px;
  align-content: center;
  background: white;
  margin-top: 10px;
  border-radius: 5px;
  /* margin: 50px; */
}

.legendTitle {
  font-size: 1.25em;
  max-width: 1000px;
}

.fSet p {
  margin: 0 0 10px 0;
  max-width: 1000px;
  color: var(--darkGrey);
}

.fSet > label {
  font-size: 1em;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.fSet > input {
  margin-bottom: 8px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.fSet > input:focus {
  border: 2px solid var(--offGreen);
}

input {
  border-radius: 5px;
  height: 1.5em;
  font-size: 1.5em;
}

.fSet .fieldWrap {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}

input {
  background: var(--white);
}

.textAreaContent {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

textarea {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background: var(--white);
}

.buttonDiv {
  width: 90vw;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.buttonDiv button {
  margin-bottom: 15px;
}

@media (max-width: 1200px) {
  main h1 {
    margin-top: 1em;
  }

  #form {
    width: 90%;
  }

  label {
    margin-bottom: 0.5em;
  }

  .fSet {
    width: 100%;
  }

  .legendTitle {
    width: auto;
  }

  .fSet p {
    width: 75%;
  }

  .fSet > label {
    width: 75%;
  }

  .fSet > input {
    width: 75%;
  }

  .fSet .fieldWrap {
    width: 75%;
  }

  .textAreaContent {
    margin-top: 1em;
    margin-bottom: 0.5em;
    width: 75%;
  }

  textarea {
    margin-top: 0.5em;
    width: 100%;
  }

  .buttonDiv {
    width: 60vw;
    max-width: 350px;
  }
}

@media (max-width: 600px) {
  * {
    margin: unset;
    padding: unset;
    max-width: unset;
  }

  #form {
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fset {
    width: 90vw;
    padding: 0;
    margin: 0;
  }

  .fset .fieldWrap {
    width: 90vw;
    padding: 10px;
  }

  #main {
    width: 95vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .textAreaContent {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0;
    width: 90vw;
    border: 0;
  }

  #message {
    width: 70vw;
    margin-top: 0;
  }

  .textAreaContentLabel {
    margin: 0;
    margin-left: 10px;
  }

  textarea {
    width: 85vw;
  }
}
