* {
  box-sizing: border-box;
  outline: 0;
  padding: 0;
  margin: 0;
  --white: #f0f0f0;
  --headerFooter: #4a4a4a;
  --logoColor: #6ba643;
  --offGreen: #86a38c;
  --lightGrey: #757769;
  --buttonBkGrnd: #6c6e60;
  --darkGrey: #222a30;
  --purple: #524652;
}

/* Global */
body {
  width: 100vw;
}

main {
  padding: 10px;
}

li {
  list-style: none;
}

.instructions {
 font-family: "Monserrat", sans-serif;
}

.errorText {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  color: #C00000;
}

.errorBox {
  border: 2px solid #C00000;
}

/* Info Section */
.pageInfo {
  border: 1px solid #C00000;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

/* Contact Form */
#form1 {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}

.fSet {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  border-radius: 5px;
}

.legendTitle {
  font-size: 1.25em;
}

.fSet p {
  margin: 0 0 10px 0;
}

.fSet > label {
  font-size: 1em;
}

.fSet > input {
  margin-bottom: 8px;
}

.fSet > input:focus {
  border: 2px solid var(--offGreen);
}

.fSet .fieldWrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.buttonDiv {
  width: 90vw;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}