* {
  box-sizing: border-box;
  outline: 0;
  padding: 0;
  margin: 0;
  --white: #f0f0f0;
  --headerFooter: #4a4a4a;
  --logoColor: #367436;
  --offGreen: #86a38c;
  --lightGrey: #757769;
  --buttonBkGrnd: #6c6e60;
  --darkGrey: #222a30;
  --purple: #524652;
}

body {
  background: var(--white);
  color: var(--darkGrey);
  max-width: 1200px;
  margin: 0 auto;
}

/*Skip Link CSS*/
.visible-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visible-hidden:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
  background: #ffffffd7;
  outline: orange solid 2px;
  padding: 1em;
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
}

.content-container h1 a {
  color: var(--white);
}

.content-container h1 a:visited {
  color: var(--white);
}

.content-container p {
  padding: 1.5em;
}

h1 {
  grid-column: 1/3;
}

/*___________________________________________________________*/

/* MOBILE Navigation Styling */

@media (max-width: 1024px) {
  /* header CSS*/

  header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
    color: var(--logoColor);
  }

  nav {
    background: var(--logoColor);
    width: 100%;
    max-width: 1200px;
  }

  #menuDesktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: var(--logoColor);
    list-style: none;
  }

  #menuDesktop li {
    margin: 0.5em 1em;
  }

  #menuDesktop li a {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: var(--white);
  }

  #menuDesktop li a:hover {
    outline: solid 2px orange;
    padding: 1px;
  }

  #menuDesktop li a:focus {
    outline: solid 2px orange;
    padding: 1px;
  }

  header .svgContainer {
    padding: 1em;
  }
}

/*___________________________________________________________ */

/* font Awesome Icons*/
.fas {
  color: var(--darkGrey);
  font-size: 2rem;
}

.fas:hover {
  outline: solid 2px orange;
}

.fas:focus {
  outline: solid 2px orange;
}

i:focus {
  outline: solid 2px orange;
}

.fab {
  color: var(--darkGrey);
  font-size: 2rem;
}

.fab:hover {
  outline: solid 2px orange;
}

.fab:focus {
  outline: solid 2px orange;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/*___________________________________________________________*/

/*section CSS*/

#heroArt {
  background: #1d2724;
  color: var(--white);
}

#classesArt {
  background: #22313f;
  color: var(--white);
}

#classesArt h1 {
  color: var(--white);
}

#teacherArt {
  background: var(--darkGrey);
  color: var(--white);
}

#teacherArt h1 {
  color: var(--white);
}

#communityArt {
  background: #1d2724;
  color: var(--white);
}

#communityArt h1 {
  color: var(--white);
}

#volunteerArt {
  background: var(--darkGrey);
  color: var(--white);
}

#donateArt {
  background: #22313f;
  color: var(--white);
}

.imageContainer {
  line-height: 0;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content-container {
  display: grid;
  height: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  padding: 1em 0;
}

h1 {
  grid-column: 1/3;
  grid-row: 1/2;
}

h1 a {
  color: var(--white);
}
h1 a:visited {
  color: var(--white);
}

h1 a:hover {
  color: var(--white);
  outline: solid 2px orange;
}

h1 a:focus {
  color: var(--white);
  outline: solid 2px orange;
}

p {
  text-align: left;
  padding: 0.5em;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  color: var(--white);
  grid-column: 1/3;
  grid-row: 2/3;
}

#donateArt {
  display: grid;
  grid-template-rows: auto 5em;
  padding: 1em;
}

#volunteerArt {
  display: grid;
  grid-template-rows: auto 5em;
  padding: 1em;
}

#volunteerButton {
  grid-row: 2/3;
}

#donationButton {
  grid-row: 2/3;
}

button {
  width: 75%;
  background: var(--buttonBkGrnd);
  border: var(--white) solid 0.5px;
  border-radius: 4px;
  color: var(--white);
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  margin-top: 4px;
  padding: 0.75em;
  font-family: "HankenBook", Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  /* grid-column: 1/3;
  grid-row: 3/4; */
}

button:hover {
  background: #ad760f;
  outline: solid 2px orange;
}

button:focus {
  background: #ad760f;
  outline: solid 2px orange;
}
/*___________________________________________________________*/

/* Footer CSS*/

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.75em 0;
  background: var(--white);
  color: var(--logoColor);
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  margin: 1.35em 1em 1em;
  color: var(--darkGrey);
}

footer li {
  margin: 0;
  padding: 5px 0;
  list-style: none;
  margin: 8px;
  font-family: "Montserrat", sans-serif;
  margin-top: 1rem;
}

#footerLinksContainer {
  width: auto;
}

.footerLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: var(--darkGrey);
  font-size: 1rem;
  margin-top: 1rem;
}

a:visited {
  color: var(--darkGrey);
  font-size: 1rem;
}

.footerLinks:hover {
  outline: solid 2px orange;
  padding: 1px;
}

.footerLinks:focus {
  outline: solid 2px orange;
  padding: 1px;
}

footer #socialMediaLinks li a:focus {
  outline: solid 2px orange;
  padding: 1px;
}

/* --------------------------------------------------------------------
  Media Queries Below:
  -----------------------------------------------------------------------
  */

/* --------------------------------------------------------------------
  Mobile Queries Below:
  -----------------------------------------------------------------------
  */

/*Media Query (Tablet 1024px) */
@media only screen and (max-width: 1024px) {
  body {
    width: 100%;
  }

  header img {
    height: auto;
    width: 300px;
  }

  /* #menuDesktop {
    display: none;
  } */

  ul {
    margin: 1.75em 0.25em 1em;
  }

  #socialMediaLinks {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 2em;
    margin: 0;
  }

  #addressInfo {
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
    text-align: center;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--darkGrey);
    font-size: 1rem;
    margin-top: 1rem;
  }

  a:visited {
    color: var(--darkGrey);
    font-size: 1rem;
  }

  .footerLinks:hover {
    outline: solid 2px orange;
    padding: 1px;
  }

  .footerLinks:focus {
    outline: solid 2px orange;
    padding: 1px;
  }

  #footerLinks {
    margin: 0 auto;
  }
}

/* 1260 */
@media only screen and (max-width: 1260px) {
  #footerLinksContainer {
    margin: 0 auto;
  }
}
/*Media Query (Tablet 1024px + 1px)*/
@media only screen and (max-width: 1200px) {
  body {
    width: 100%;
  }

  header img {
    height: auto;
    width: 300px;
  }

  ul {
    margin: 1.75em 0.25em 1em;
  }

  #socialMediaLinks {
    margin: 0 auto;
  }

  #addressInfo {
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
    text-align: center;
    margin: 0 auto;
  }

  #footerLinks {
    margin: 0 auto;
  }
}

/*Media Query (Phone 600px)*/
@media only screen and (max-width: 600px) {
  .fas {
    font-size: 1.5rem;
  }

  header img {
    height: auto;
    width: 200px;
  }

  ul {
    margin: 1em 0.25em 1em;
  }
}
