@media only screen and (min-width: 1025px) {
  #hamburgerMenu {
    display: none;
  }

  header {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    background: var(--white);
    color: var(--logoColor);
  }

  .svgContainer {
    padding-top: 8px;
    width: 25%;
    height: 100%;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2em;
  }

  #menuDesktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 650px;
    color: var(--logoColor);
    list-style: none;
  }

  #menuDesktop li a {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: var(--darkGrey);
  }

  #menuDesktop li a:hover {
    outline: solid 2px orange;
    padding: 1px;
  }

  #menuDesktop li a:focus {
    outline: solid 2px orange;
    padding: 1px;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr auto auto;
  }

  #heroArt {
    grid-column: 1/7;
    grid-row: 1/2;
    margin-bottom: 1em;
  }

  #classesArt {
    grid-column: 1/3;
    grid-row: 2/3;
    height: auto;
    width: 95%;
    margin: 0 auto 0 0;
  }

  #classesArt p {
    padding: 2em;
    text-align: left;
  }

  #teacherArt {
    grid-column: 3/5;
    grid-row: 2/3;
    height: auto;
    width: 95%;
    margin: 0 auto;
  }

  #teacherArt p {
    padding: 2em;
    text-align: left;
  }

  #communityArt {
    grid-column: 5/7;
    grid-row: 2/3;
    height: auto;
    width: 95%;
    margin: 0 0 0 auto;
  }

  #communityArt p {
    padding: 2em;
    text-align: left;
  }

  #volunteerArt {
    grid-column: 1/4;
    grid-row: 3/4;
    height: auto;
    width: 97.25%;
    margin: 1em auto 0 0;
    padding: 2em;
  }

  #donateArt {
    grid-column: 4/7;
    grid-row: 3/4;
    height: auto;
    width: 97.25%;
    margin: 1em 0 0 auto;
    padding: 2em;
  }

  i:focus {
    outline: solid 2px orange;
  }

  footer {
    display: flex;
    flex-direction: row;
  }
}
