* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 120px;
  display: flex;
  justify-content: center;
}

header img {
  height: 90%;
  padding-top: 10px;
}

body {
  height: 100%;
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

button {
  padding: 10px;
}

.container {
  border: 3px solid grey;
  height: 65vh;
  margin: 15px;
  border-radius: 5px;
  overflow-y: auto;
}

.titleBox {
  background: lightgrey;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.titleBox button {
  margin-left: 20px;
}

.infoLine {
  display: grid;
  grid-template-columns: 0.75fr 1fr 1fr;
  grid-template-rows: auto;
  border-bottom: 0.5px solid black;
  align-items: center;
}

.infoLine:nth-child(even) {
  background: rgb(240, 240, 240);
}

.infoText {
  padding: 5px 0px 5px 8px;
  align-self: end;
}

.buttonBox {
  justify-self: center;
  margin: 5px 0px 5px 0px;
}
