* {
  box-sizing: border-box;
  outline: 0;
  padding: 0;
  margin: 0;
  --white: #f0f0f0;
  --headerFooter: #4a4a4a;
  --logoColor: #6ba643;
  --offGreen: #86a38c;
  --lightGrey: #757769;
  --buttonBkGrnd: #6c6e60;
  --darkGrey: #222a30;
  --purple: #524652;
}

/* Global */
body {
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style: none;
}

.instructions {
 font-family: "Monserrat", sans-serif;
 color: black;
}

.form-container {
  max-width: 1200px;
}


.errorText {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  color: #C00000;
}

.errorBox {
  border: 2px solid #C00000;
}

/* Info Section */
.pageInfo {
  border: 1px solid #C00000;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

/* Contact Form */
#form1 {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}


.legendTitle {
  border: black solid 1px;
  padding: .25em;
  background: #367436;
  color: white;
}

.fSet {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  max-width: 1200px;
  align-content: center;
  background: white;
  margin-top: 10px;
  border-radius: 5px;
}

.legendTitle {
  font-size: 1.25em;
  max-width: 1000px;
}

.fSet p {
  margin: 0 0 10px 0;
  max-width: 1000px;
  color: var(--darkGrey);
}

.fSet > label {
  font-size: 1em;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.fSet > input {
  margin-bottom: 8px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  
}

.fSet > input:focus {
  border: 2px solid var(--offGreen);
}

.fSet .fieldWrap {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}

input {
  background: var(--white);
}

.fieldWrap p {
  font-family: "Monserrat", sans-serif;
}

  #photoWaiver {
  outline: 0;
  }

  #photoWaiver:focus {
    outline: 2px solid green;
  }

.buttonDiv {
  width: 90vw;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}


.buttonDiv {
  width: 90vw;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1024px) {
  main h1 {
    margin-top: 3em;
  }

  #form {
    width: 90%; 
  }
  
  label {
    margin-bottom: 0.5em;
  }

  .fSet {
    width: 100%; 
  }
  
  .legendTitle {
    width: auto; 
  }
  
  .fSet p {
    width: 90%;
  }
  
  .fSet > label {
    width: 90%; 
  }
  
  .fSet > input {
    width: 90%; 
  }
  
  .fSet .fieldWrap {
    width: 90%;  
  }
  
  .buttonDiv {
    width: 60vw;
    max-width: 350px;
  }

}

@media (max-width: 600px) {

  main h1 {
    margin-top: 2em;
  }

  
}
